{% extends 'base.html' %}

{% block content %}

<section id="banner">
    <div class="content">
        <header>
            <h1>{{ request.user.username }}</h1>
        </header>
            <p>{{ request.user }}</p>
            <p>{{ request.user.date_joined }}</p>
        </div>
        {% if request.user.image %}
            <span class="image object">
                <img src="{{ request.user.image.url }}" style="width: 240px; height: 320px;" alt="" />
            </span>
        {% endif %}
</section>

{% endblock %}




